body {
	padding-top: 10px;
	font-size: 30px;
}

html {
	touch-action: manipulation
}

.tabLink {
	padding: 10px 10px;
	background-color: #eee;
	margin-right: 10px;
	line-height: 40pt;
	font-weight: bolder;
	cursor: pointer;
	white-space: nowrap;
}

.tabLink span {
	font-weight: normal;
	vertical-align: sub;
  font-size: smaller;
}

.tabContainer {
	margin-top: 20px;
	text-align: center;
}

INPUT.input {
	font-size: 50px;
	width: 80%;
	text-align: right;
}

.hitFactor {
	font-size: 46px;
	font-weight: bold;
}
